<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Title of the document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="css/main.css"/>
</head>

<body ng-app="szeregowanie" ng-controller="mainController" ng-cloak>

<div class="container">
    <div ng-if="!logged">
        <form>
            Podaj nazwe uzytkownika:
            <input type="text" name="username" ng-model="username" autofocus/>
            <button type="submit" class="btn-sm btn-primary" ng-click="login(username)">Login</button>
            <button type="button" class="btn-sm btn-primary" data-toggle="modal" data-target="#register-modal">
                Zarejestruj
            </button>
        </form>
    </div>
    <div ng-if="logged">
        <div class="block">
            Jesteś zalogowany jako: {{user.username}}
            <button ng-if="isAdmin()" type="button" class="btn btn-sm btn-danger" ng-click="szereguj()">
                Szereguj
            </button>
            <button ng-if="isAdmin()" type="button" class="btn btn-sm btn-danger"
                    data-toggle="modal" data-target="#create-new-task-modal">
                Dodaj nowe zadanie
            </button>
            <button type="submit" class="btn btn-sm btn-primary" ng-click="logout()">Logout</button>
        </div>

        <div class="block-title">
            <h2 class="inline">Zlecenia:</h2>
            <button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#new-order-modal">
                Dodaj zlecenie
            </button>
        </div>

        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th class="col-md-1">Id</th>
                <th class="col-md-2">Nazwa</th>
                <th class="col-md-2">Deadline</th>
                <th class="col-md-2">CalcDeadline</th>
                <th class="col-md-2">Kwota</th>
                <th class="col-md-1">Rabat</th>
                <th class="col-md-1">Do zapłaty</th>
                <th class="col-md-1"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="order in orders" ng-click="getTask(order.id, order.nazwa)" style="cursor: pointer">
                <td>{{order.id}}</td>
                <td>{{order.nazwa}}</td>
                <td>{{timestampToDate(order.deadline)}}</td>
                <td>{{order.calcDeadline && timestampToDate(order.calcDeadline/1000) || "N/A"}}</td>
                <td>{{order.kwota}}</td>
                <td>{{order.rabat}}</td>
                <td>{{order.kwota - order.kwota*order.rabat/100}}</td>
                <td>
                    <button type="button" class="btn btn-sm btn-danger"
                            ng-click="deleteOrder(order.id); $event.stopPropagation();">Usuń
                    </button>
                </td>
            </tr>
            </tbody>
        </table>

        <div ng-if="order.tasks.length == 0">
            <h2>Brak zadań do wyświetlenia</h2>
        </div>
        <div class="inline" ng-if="order.tasks">
            Dodaj nowe zadanie:
            <select ng-options="task.nazwa for task in allTasks"
                    ng-model="order.selected">
            </select>
            <button type="button" class="btn btn-default" ng-click="addTask()">
                Dodaj zadanie
            </button>
        </div>
        <div ng-if="order.tasks.length > 0">
            <h2>Zadania dla: {{order.orderName}}</h2>
            <table class="table table-hover table-bordered">
                <thead>
                <tr>
                    <th class="col-md-1">Id</th>
                    <th class="col-md-5">Nazwa</th>
                    <th class="col-md-1">Waga</th>
                    <th class="col-md-2">CzasTrwania</th>
                    <th class="col-md-2">Cena</th>
                    <th class="col-md-1"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="task in order.tasks">
                    <td>{{task.id}}</td>
                    <td>{{task.nazwa}}</td>
                    <td>{{task.waga}}</td>
                    <td>{{task.czasTrwania / 3600000}}</td>
                    <td>{{task.cena}}</td>
                    <td>
                        <button type="button" class="btn btn-sm btn-danger"
                                ng-click="deleteTask(order.orderId, task.id)">Usuń
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

<!-- Register Modal -->
<div id="register-modal" class="modal fade" role="dialog" ng-controller="registerController">

    <div class="modal-dialog">

        <div id="register-alert" class="alert alert-danger" ng-if="errorMessage">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Danger!</strong> {{errorMessage}}
        </div>

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Zarejestruj</h4>
            </div>
            <div class="modal-body">
                <form ng-submit="register(newUser)">
                    <div class="form-group">
                        <label>Username:</label>
                        <input type="text" class="form-control" id="username" ng-model="newUser.username" autofocus>
                        <label>Imie:</label>
                        <input type="text" class="form-control" id="imie" ng-model="newUser.imie">
                        <label>Nazwisko:</label>
                        <input type="text" class="form-control" id="nazwisko" ng-model="newUser.nazwisko">
                        <label>Email:</label>
                        <input type="text" class="form-control" id="mail" ng-model="newUser.email">
                    </div>
                    <button type="submit" class="btn btn-default pull-right">Zarejestruj</button>
                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                </form>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>


<!-- Register Modal -->
<div id="new-order-modal" class="modal fade" role="dialog">

    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Nowe zamówienie</h4>
            </div>
            <div class="modal-body">
                <form ng-submit="addNewOrder(newOrder)">
                    <div class="form-group">
                        <label>Nazwa:</label>
                        <input type="text" class="form-control" ng-model="newOrder.nazwa" required>
                        <label>Deadline:</label>
                        <div class="form-group">
                            <div class='input-group date' id='deadlinePicker'>
                                <input type='text' class="form-control" ng-model="newOrder.deadline" required>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default push-right">Dodaj</button>
                    <button type="button" class="btn btn-default push-right" data-dismiss="modal">Close</button>
                </form>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>

<!-- Register Modal -->
<div id="create-new-task-modal" class="modal fade" role="dialog">

    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Nowe zadanie</h4>
            </div>
            <div class="modal-body">
                <form ng-submit="createNewTask(task)">
                    <div class="form-group">
                        <label>Nazwa:</label>
                        <input type="text" class="form-control" ng-model="task.nazwa" required>
                        <label>Waga:</label>
                        <input type="number" class="form-control" ng-model="task.waga" required>
                        <label>Czas trwania(h):</label>
                        <input type="number" class="form-control" ng-model="task.czasTrwania" required>
                        <label>Cena:</label>
                        <input type="number" class="form-control" ng-model="task.cena" required>
                    </div>
                    <button type="submit" class="btn btn-default push-right">Dodaj</button>
                    <button type="button" class="btn btn-default push-right" data-dismiss="modal">Close</button>
                </form>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>

<!-- Register Modal -->
<div id="szeregowanie-modal" class="modal fade" role="dialog">

    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Szeregowanie</h4>
            </div>
            <div class="modal-body">
                <table class="table table-hover table-bordered">
                    <thead>
                    <tr>
                        <th class="col-md-1">Id</th>
                        <th class="col-md-2">Klient</th>
                        <th class="col-md-3">Nazwa</th>
                        <th class="col-md-2">Deadline</th>
                        <th class="col-md-2">CalcDeadline</th>
                        <th class="col-md-1"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="zlecenie in poszeregowaneZlecenia">
                        <td>{{zlecenie.id}}</td>
                        <td>{{zlecenie.klient.username}}</td>
                        <td>{{zlecenie.nazwa}}</td>
                        <td>{{timestampToDate(zlecenie.deadline)}}</td>
                        <td>{{timestampToDate(zlecenie.calcDeadline/1000)}}</td>
                        <td>
                            <button type="button" class="btn btn-sm btn-danger"
                                    ng-click="adminDeleteOrder(zlecenie.id);">Usuń
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default push-right" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
<script src="js/app.js"></script>

<script type="text/javascript">
    $(function () {
        $('#deadlinePicker').datetimepicker({
            format: 'MM/DD/YYYY HH:mm',
            minDate: moment()
        });
    });
</script>

</body>

</html>