[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

body {
    margin-top: 20px;
    margin-bottom: 20px;
}

.inline {
    display: inline;
}

.block {
    display: block;
}

.block-title {
    padding-top: 20px;
    padding-bottom: 20px;
}